{% extends 'base.html' %}

{% block content %}
  <div class="my-5 container" style="text-align: center;">
    <h1>Scratch Cards <span class="badge text-bg-primary">Inf 7</span></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <p style="line-height: 3em;">
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/name-cards.pdf">Animiere einen Namen</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/animation-cards.pdf">Animiere eine Figur</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/chase-cards.pdf">Mach ein Fangspiel</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/chase-cards.pdf">Mach Musik</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/story-cards.pdf">Erzähle eine Geschichte</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/pong-cards.pdf">Ping Pong Spiel</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/dance-cards.pdf">Let's dance</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/jumping-cards.pdf">Springspiel</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/pet-cards.pdf">Virtuelles Haustier</a>
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/catch-cards.pdf">Fallen & Sammeln Spiel</a>
        </p>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock %}
