{% extends 'base.html' %}

{% block content %}
  <div class="my-5 container" style="text-align: center;">
    <h1>Scratch Cards <span class="badge text-bg-primary">Inf 7</span></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="mb-4">Kriterien für das Scratch-Projekt</h3>
        <h5>Funktionen / „Features“</h5>
        <ul>
          <li>Alle Programmier-Karten wurden implementiert <b>*</b></li>
          <li>Keine Bugs und unerwünschtes Verhalten</li>
          <li>Spiel hat ein Ziel (Punkte, Timer, etc.) <b>*</b></li>
          <li>Spiel ist interaktiv (man kann den Ablauf beeinflussen)</li>
          <li>Reset: Man kann direkt mit dem Spiel beginnen</li>
        </ul>
      </div>
      <div class="col">
        <h5>Aussehen / „Style“</h5>
        <ul>
          <li>stimmiger, einheitlicher Look (kann aber auch bewusst chaotisch sein)</li>
          <li>eigene Grafiken</li>
        </ul>
        <h5>Optional: Zusätzliche Funktionen /„Bonus Features“</h5>
        <ul>
          <li>Multiplayer: Mehrere Spieler können gleichzeitig etwas tun </li>
          <li>Level: Es gibt mehrere Level mit veränderten Eigenschaften</li>
          <li>„Welcome“/Title Screen</li>
          <li>„Game Over“ Screen</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="name">
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/name-cards.pdf">Animiere einen Namen</a>
        </div>
        <div id="animate">
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/animation-cards.pdf">Animiere eine Figur</a>
        </div>
        <div id="chase">
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/chase-cards.pdf">
          Mach ein Fangspiel</a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268378144">Maxs67
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268377638">G-Dom_99
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268036389">nkls12_
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
        </div>
        <div id="music">
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/music-cards.pdf">
          Mach Musik</a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268376741">Bannanabytes
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
        </div>
        <div id="story">
        <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/story-cards.pdf">
          Erzähle eine Geschichte</a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268044500">maylaundarina
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
        </div>
        <div id="catch">
          <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/catch-cards.pdf">Fallen & Sammeln Spiel</a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268378774">cu8er
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268377722">Informatikbieber
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268394507">Stjopa777
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268036351">FCB6767
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
        </div>
      </div>
        <div class="col">
        <div id="pong">
          <a class="btn" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/pong-cards.pdf">
            Ping-Pong-Spiel</a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268377640">schutzlos-Bux
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268377940">hippomitfluegeln15
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268384505">rocknrollfriends
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268378718">67_Robro_67
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1274612382/">hannuta13
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268035936">BALLIMNETZ
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268066164">Sola2000
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
        </div>
        <div id="dance">
          <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/dance-cards.pdf">Let's dance</a>
        </div>
        <div id="jump">
          <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/jumping-cards.pdf">Springspiel</a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268380499">HALLOHUBI
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1271429597">Bannanabytes
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268378160">Aura_Bruno
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268044203">juanhamid67
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268034410">Habibigonner
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268037121">levidami22
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
          </a>
        </div>
        <div id="pet">
          <a class="btn btn-primary" target="_blank" href="https://resources.scratch.mit.edu/www/cards/de/pet-cards.pdf">Virtuelles Haustier</a>
          <a class="btn outline" href="https://scratch.mit.edu/projects/1268380685">puschelblub
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
          </a>
        </div>
          <div id="other">
          <a class="btn btn-primary" target="_blank" href="">Andere Projekte</a>
            <a class="btn outline" href="https://scratch.mit.edu/projects/1271431952">Kiritsucc
              <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7b</span>
            </a>
            <a class="btn outline" href="https://scratch.mit.edu/projects/1278168209">THW1215
              <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
            </a>
            <a class="btn outline" href="https://scratch.mit.edu/projects/1271052752">KarolXDaniyl
              <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
            </a>
            <a class="btn outline" href="https://scratch.mit.edu/projects/1277737920">churrocornflakes
              <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary-subtle">7d</span>
            </a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
