venv/

uploads/*
!uploads/.gitkeep
src/templates/steckbriefe/*
!src/templates/steckbriefe/.gitkeep
src/static/files/arbeitsblaetter/*
!src/static/files/arbeitsblaetter/.gitkeep
src/static/videos/*
!src/static/videos/.gitkeep

__pycache__/
*.py[cod]
app.sqlite
.idea/
*.pid
.~lock*
uwsgi.ini
*.log
