venv/

src/templates/steckbriefe/*
!src/templates/steckbriefe/README.md
src/files/arbeitsblaetter/*
!src/files/arbeitsblaetter/README.md

__pycache__/
*.py[cod]
app.sqlite
.idea/
*.pid
.~lock*
uwsgi.ini
*.log
