<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Farben mischen</h1>
    <p>Man unterscheidet zwischen additiver Farbmischung (Licht) und subtraktiver Farbmischung (z.B. Aquarellfarben).</p>
    <p>Mehr Informationen hier:</p>
    <ul>
      <li><a href="http://static.lawrencehallofscience.org/gss/dew/documents/AllAboutDEW201204.pdf">PDF Digital Images (en)</a></li>
      <li><a href="https://de.wikipedia.org/wiki/Farbmischung">Wiki: Farbmischung</a></li>
    </ul>
    <img src="{{ url_for('static', filename='img/farben-mixing.png') }}" width="800px" />
  </body>
</html>
