{% extends 'base.html' %}

{% block content %}
  <header>
    <div class="p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">Archiv</h1>
      <p class="fs-5 text-body-secondary">
        Projekte aus vergangenen Schuljahren.
      </p>
    </div>
  </header>
  <main class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <a href="">
          <img src="{{ url_for('static', filename='img/scratch-unicorn.png') }}" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">Scratch Cards</h5>
          <p class="card-text">Spiele der 7. Klassen im Jahr 2024/25.</p>
          <a href="#" class="btn btn-primary">Übersicht aller Spiele</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="">
          <img src="{{ url_for('static', filename='img/scratch-unicorn.png') }}" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">Scratch Cards</h5>
          <p class="card-text">Spiele der 7. Klassen im Jahr 2024/25.</p>
          <a href="#" class="btn btn-primary">Übersicht aller Spiele</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="">
          <img src="{{ url_for('static', filename='img/scratch-p5js.png') }}" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">Scratch to P5JS</h5>
          <p class="card-text">Spiele der 8. Klassen</p>
          <a href="#" class="btn btn-primary">Übersicht aller Spiele</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="">
          <img src="{{ url_for('static', filename='img/scratch-unicorn.png') }}" class="card-img-top">
        </a>
        <div class="card-body">
          <h5 class="card-title">Scratch Cards</h5>
          <p class="card-text">Spiele der 7. Klassen im Jahr 2024/25.</p>
          <a href="#" class="btn btn-primary">Übersicht aller Spiele</a>
        </div>
      </div>
    </div>
  </div>

  </main>
{% endblock %}
