<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JMS Inf</title>
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}

<footer style="margin-top: 3rem;">
  <small>v{{ g.version }} // <a href="https://github.com/jungmannschule">github</a> // <a href="https://jms-inf.de/git">gitea</a></small>
</footer>

</body>
</html>
