{% extends 'base.html' %}

{% block content %}
  <h1>Informatik an der Jungmannschule</h1>
  <p>Unterricht im Jahrgang 7:</p>
  <ul>
    <li><a href="git/org/7inf/teams/7a/repositories">7a</a></li>
    <li><a href="git/org/7inf/teams/7b/repositories">7b</a></li>
    <li><a href="git/org/7inf/teams/7c/repositories">7c</a></li>
    <li><a href="git/org/7inf/teams/7d/repositories">7d</a></li>
  </ul>

  <h2>WPU 10 Informatik</h2>
  <p>Sinus Jugendstudie als <a href="https://www.bpb.de/system/files/dokument_pdf/u18_SINUS-Jugendstudie_Wie-ticken-Jugendliche_2024_Print_24-06-07_Sperrfrist_12.06.24_12.00.pdf">herunterladen</a></p>
{% endblock %}
