{% extends 'base.html' %}

{% block content %}
 <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/jms.png') }}" alt="" width="400">
    <h1 class="display-5 fw-bold text-body-emphasis">Informatik an der Jungmannschule</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Hallo! Willkommen im Projekt- und Arbeitsbereich Informatik für Schülerinnen und Schüler der Jungmannschule Eckernförde. Ihr findet hier Material und Links zu unseren aktuellen Unterrichtseinheiten.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" href="{{ url_for('scratch7.index') }}" class="btn btn-primary btn-lg px-4 gap-3">7. Klasse</a>
        <a type="button" href="{{ url_for('godot10.index') }}" class="btn btn-primary btn-lg px-4 gap-3">10. Klasse</a>
        <a type="button" href="https://jms-eck.de" class="btn btn-outline-secondary btn-lg px-4">Zur Jungmannschule</a>
      </div>
    </div>
  </div>
{% endblock %}
