{% extends 'base.html' %}

{% block content %}
  <h1>Informatik an der JMS</h1>
  <p>Willkommen auf den Seiten des WPF Informatik an der Jungmannschule Eckernförde.</p>

  <ol>
    <li>HTML & CSS
      <ul>
        <li><a href="{{ url_for('main.steckbriefe_index') }}">Steckbriefe</a></li>
        <li><a href="{{ url_for('main.farben_index') }}">Farben & Bilder</a></li>
        <li><a href="{{ url_for('main.flexbox_index') }}">CSS Flexbox</a></li>
        <li><a href="{{ url_for('main.projekt_index') }}">Webseiten Projekt</a></li>
      </ul>
    </li>
    <li>Wettbewerbe
      <ul>
        <li><a href="https://bwinf.de/bundeswettbewerb/42/">Bundeswettbewerb Informatik 2023</a></li>
        <li><a href="https://adventofcode.com">Advent of Code</a></li>
      </ul>
    </li>
    <li>Versionsverwaltung mit git
      <ul>
        <li><a href="{{ url_for('static', filename='files/labyrinth.zip') }}">Zeitmaschine</a></li>
        <li><a href="https://jms-inf.de/git">Intro to Git (on Gitea)</a></li>
      </ul>
    </li>
    <li>Algorithmen
      <ul>
        <li><a href="">Game of Life</a></li>
        <li><a href="https://jms-inf.de/git/9inf/secret">Secret</a></li>
        <li><a href="https://jms-inf.de/git/9inf/python_01">Python Kurs</a></li>
      </ul>
    </li>
  </ol>
{% endblock %}
