{% extends 'base.html' %}

{% block style %}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}
{% endblock %}


{% block content %}

 <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Cybersecurity Lab</h2>
   <p class="text-body-secondary">In der IT-Sicherheit bedeutet <code>{CAPTURE_THE_FLAG}</code>, oder kurz "CTF", ein
   spielerisches Experimentieren und Ausnutzen bekannter Werkzeuge und Sicherheitslücken mit dem Ziel, möglichst schnell
     eine sogenannte "Flag", einen geheimen Code, zu finden. </p>

   <div class="row g-4 py-5">

     <div class="col d-flex align-items-start">
       <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
         <svg class="bi" width="1.25em" height="1.25em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="1.75"> <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path> <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path> </svg>
       </div>
       <div>
         <h3 class="fs-2 text-body-emphasis">Phishing</h3>
         <p>Formuliere eine Phishing Mail, die einen Schüler/eine Schülerin dazu bringen soll, auf eine fingierte Schulseite zu klicken.</p>
         <div style="background: #ddd; margin-bottom: 2em; padding: 0 1em 1em 1em;">
           <p><code>
             Absender: s.klingenberg@jungmannschule.de<br />
             Betreff: Fehler bei IServ - DRINGEND aktualisieren
           </code></p>
           Liebe Schülerinnen, liebe Schüler,

           wir hatten leider einen schwerwiegenden Vorfall bei der Installation eines IServ-Updates.

           Ihr müsstet bitte nun eure E-Mail Adresse und Passwort noch einmal neu setzen. Benutzt dafür bitte folgenden Link:
           <a href=""></a>

           Mit besten Grüßen
           Sebastian Klingenberg
         </div>
         <div style="background: #ddd; margin-bottom: 2em; padding: 0 1em 1em 1em;">
           <p><code>
             Absender: schuelervertretung@jungmannschule.de<br />
             Betreff: DIESE WOCHE: Neue Schülersprecher:in wählen
           </code></p>
           Lieber Schüler und Schülerinnen,

           da unsere Schülersprecher zurücktreten, müssen zu Februar neue Sprecher:innen gewählt werden. Wir machen das
           ganz neu jetzt online, bitte klickt auf den folgenden Link und stimmt ab! Jede Stimme zählt!
           ...
         </div>
         <a href="https://jms-inf.de/git/10inf/dodge-the-creeps-2d" class="btn btn-secondary">
           Phishing
         </a>
         <a href="https://jms-inf.de/git/10inf/dodge-the-creeps-2d" class="btn btn-secondary">
           Kein Phishing
         </a>
       </div>
     </div>

     <div class="col col-lg-4 d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
         <svg class="bi" width="1.25em" height="1.25em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75"> <path d="M10 18h4"></path> <path d="M3 8a9 9 0 0 1 9 9v1l1.428 -4.285a12 12 0 0 1 6.018 -6.938l.554 -.277"></path> <path d="M15 6h5v5"></path> </svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Playground</h3>
          <p>CTF Spielumgebung mit 13 Flaggen</p>
          <a href="https://jms-inf.de/hack" class="btn btn-primary">
            Go to CyberDefense Lab
          </a>
          <p>CTF Übungen im Terminal, für fortgeschrittene Schüler</p>
          <a href="https://overthewire.org/wargames/bandit/" class="btn btn-primary">
            Go to OverTheWire
          </a>
        </div>
     </div>

    </div>
 </div>




{% endblock %}