{% extends 'base.html' %}

{% block content %}
  <div class="my-5 container" style="text-align: center;">
    <h1>Webseiten <span class="badge text-bg-primary">Inf 7</span></h1>
  </div>

  <div class="container">
    <div class="row">

      <div class="col">
        <h3>Projekte</h3>
        <hr />
        <div class="accordion" id="accordionExample">
          {% for team in team_repos.keys() %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#team-{{ team }}" aria-expanded="true" aria-controls="collapse{{ team }}">
                  {{ team }}
                </button>
              </h2>
              <div id="team-{{ team }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                  <p style="line-height: 2.75em">
                    {% for repo in team_repos[team] %}
                      <button class="btn btn-outline-primary"
                              data-bs-toggle="modal"
                              data-bs-target="#r-{{ repo }}"
                              hx-post="/web7/criteria"
                              hx-vals='{"repo": "{{ repo }}"}'
                              hx-target="#r-{{ repo }} .list-group"
                      >
                        {{ repo }}
                      </button>
                    {% endfor %}
                  </p>

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col pt-lg-5">
        <p>Hier findet ihr alle Projekte im Überblick. Klickt auf eure Klasse und dann euer Projekt, um eine automatische Auswertung der Kriterien zu sehen.</p>
        <p>Links für den heutigen Unterricht:</p>
        <ul class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" href="{{ url_for('web7.simon') }}">Simons Webseite</a>
          <a class="list-group-item list-group-item-action" href="https://bibox2.westermann.de/download.html?https://backend.bibox2.westermann.de/api/materials/24810037/6701/download-url?redirect=0">Algorithmen im Alltag</a>
        </ul>
      </div>


    </div>
  </div>


  {% for team in team_repos.keys() %}
    {% for repo in team_repos[team] %}
      <!-- Modal -->
      <div class="modal fade" id="r-{{ repo }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{ repo }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="mb-0">Die Farbe im Kreis zeigt an, wie die Kriterien erfüllt wurden:</p>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">...loading...</li>
            </ul>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
              <a class="btn btn-primary" href="https://jms-inf.de/git/7inf/{{ repo }}">Zum Repository</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
