{% extends 'base.html' %}

{% block content %}
  <div class="text-center">
    <img class="mb-3" src="{{ url_for('static', filename='img/books.jpg') }}" style="max-width: 100%;">
  </div>
  <div style="margin: -15rem auto 0 auto; width: 25em; padding: 6em 0; text-align: center;">
{#  <p>Lade die unten stehende Datei herunter, indem du rechts klickst und "Datei speichern unter" wählst.</p>#}
{#  <p>Speichere die Datei auf dem <em>Schreibtisch</em>.</p>#}
    <p style="display: inline-block; padding: 0.25em 0.5em; border-radius: 0.5em; background: #fff;">Klickt auf den Link (wetransfer.com) und ladet das gezippte Godot-Projekt herunter:</p>
  <a class="btn btn-primary" href="https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwetransfer.com%2Fdownloads%2Fcd22293644528b0887a6de8a673cad9120250617060718%2F2655e3c80b7d91d2e2fc888d8315186120250617060804%2Fde6a73%3Ft_exp%3D1750226838%26t_lsid%3Dd4e65aa8-c928-47e0-839e-80c6d50ac321%26t_network%3Demail%26t_rid%3DZW1haWx8YWRyb2l0fDQyYmQzMWZkLTQwZTMtNDcwOC04NGI4LTMwMjM0MDgyMDc3MA%253D%253D%26t_s%3Ddownload_link%26t_ts%3D1750140484%26utm_campaign%3DTRN_TDL_01%26utm_source%3Dsendgrid%26utm_medium%3Demail%26trk%3DTRN_TDL_01&data=05%7C02%7Cc.macht%40jms-eck.de%7C7ab0047a3ac24d759f5908ddad656dc2%7C100e281cf70442df9408610ec4ab68c0%7C0%7C0%7C638857373370126681%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&sdata=hs4Shurem16j%2FMQe5BQBLTSh6rc1Qf1k4UPSy0wFxEc%3D&reserved=0">turing_complete.zip</a>
</div>
{% endblock %}