{% extends 'base.html' %}

{% block content %}
  <div class="text-center">
    <a href="https://jms.tipp10.com"><img class="mb-3" src="{{ url_for('static', filename='img/keyboard.png') }}"></a>
  </div>
<div style="margin: 0 auto; width: 25em; padding: 6em 0; text-align: center;">
  <p>Lade die unten stehende Datei herunter, indem du rechts klickst und "Datei speichern unter" wählst.</p>
  <p>Speichere die Datei auf dem <em>Schreibtisch</em>.</p>
  <a class="" href="{{ url_for('static', filename='files/geoguessr.odp') }}">geoguessr.odp</a>
</div>
{% endblock %}